/* ProdutoList.css */

/* Estilos para o contêiner principal */
.products {
    margin: 20px auto; /* Centraliza o contêiner horizontalmente com margem automática */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 6px;
    max-width: 1200px; /* Ajuste a largura máxima conforme necessário */
}

/* Estilos para a lista de produtos */
.products-item {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    justify-content: center; /* Centraliza os itens dentro da lista */
}

/* Estilos para cada item da lista */
.product {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33% - 20px); 
    max-width: calc(33% - 20px); 
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
}

/* Estilos para a imagem do produto */
.product-image {
    max-width: 100%; 
    height: auto; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
}

/* Estilos para o título do produto */
.product h3 {
    margin-top: 0;
    color: #333;
    font-size: 1.2rem;
}

/* Estilos para o parágrafo do produto */
.product p {
    margin: 5px 0;
    color: #666;
    font-size: 1rem;
}

/* Regras de mídia para responsividade */
@media (max-width: 992px) {
    .product {
        flex: 1 1 calc(50% - 20px); /* Ajusta para dois itens por linha em telas menores */
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .product {
        flex: 1 1 100%; /* Ajusta para um item por linha em telas ainda menores */
        max-width: 100%;
    }
}
